
* {
  /* -webkit-transform:scale(0.5);
  -moz-transform:scale(0.5);
  -ms-transform:scale(0.5);
  transform:scale(0.5); */
  /* border: 1px solid yellow; */
}

html {font-size: 80%;}

body {
  margin: 0;
  /* padding: 0 auto; */
  background-color: hsl(0, 0%, 98%);
  color: #333;
  font: 100% / normal sans-serif;
  /* border: 3px solid red; */
}

main {
  margin: 0 auto;
  padding: 4em 0;
  /* width: 90%; */
  max-width: 60em;
  /* border: 2px solid blue; */
}

.shrink{
  /* -webkit-transform:scale(0.5);
  -moz-transform:scale(0.5);
  -ms-transform:scale(0.5);
  transform:scale(0.5); */
}

form {
  box-sizing: border-box;
  padding: 1em;
  border-radius: 1em;
  border: 4px solid hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: 1fr;
}

.form-container {
  display: flex;
  flex-flow: column;
  /* border: 2px solid yellow; */
}

#container_1, 
#container_2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  /* border: 1px solid salmon; */
}

.bet {
  display: flex;
  flex-flow: column;
  gap: 1em;

  width: 18em;
  height: 18em;
  margin: 0.5em auto;

  box-sizing: border-box;
  padding: 0.5em;
  border-radius: 1em;
  
  border: 2px solid hsl(0, 0%, 90%);
}

#combined_bet {
  border: 2px solid hsl(120, 100%, 80%);
  width: 22em;
  height: 24em;
  /* flex: 0 1 auto; */
}

.bet, 
.bet-line, 
div
{
  /* border: 1px solid red; */
}

.bet-line {
  display: flex;
  align-items: strech;
  gap: 0.5em;
}

.bet-line > * {
  flex: 1 1 0;
}


.hesap-cesiti {
  box-sizing: border-box;
  padding: 2em;
  border-radius: 1em;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
}

.bet_amount {
  padding-left: 1em;
  background-color: hsl(0, 100%, 80%);
  width: 9em;
}

#winning_amount, 
#combined_odd {
  padding-left: 1em;
  background-color: hsl(131, 100%, 80%);
  width: 9em;
}

.text-center {
  text-align: center;
}

.text-right{
  text-align: right;
}

.full-width {
  grid-column: span 2;
}

.jumbo-text {
  font: bold 2em sans-serif;
  text-decoration: underline;
  margin-bottom: 0.5em;
}

.jumbo-text-2 {
  font: bold 1.75em sans-serif;
  text-decoration: underline;
  margin-bottom: 0.5em;  
}

.large-label {
  /* border: 1px solid brown; */
  vertical-align: middle;
  display: inline-block;
  font: bold 1.5em sans-serif;
  margin-bottom: 0.5em;
}

.small-label {
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.25em;
  margin-right: 1.5em;
  font: 1.25em sans-serif;
}

/* .jumbo-text, 
.jumbo-text, 
.large-label, 
.small-label {
} */

button,
fieldset,
input,
legend,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input, 
select, 
textarea {
  border: 2px solid #333;
  background-color: white;
  border-radius: 0.25em;
}

input:focus, 
select:focus, 
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 4px hsl(213, 90%, 70%);
}

input[type="text"], 
input[type="email"], 
input[type="number"], 
select, 
textarea {
  font: 1.25em / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em 0.75em;
}

textarea {
  min-height: 10em;
}

input::placeholder, 
textarea::placeholder {
  opacity: 1; /* Firefox */
  color: hsl(213, 73%, 50%);
}

select {
  background: url("images/down-arrow.svg") no-repeat center right 0.75em;
}

input[type="radio"], 
input[type="checkbox"] {
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-image: radial-gradient(
    hsl(213, 73%, 50%) 40%, 
    transparent calc(40% + 1px)
  );
}

input[type="checkbox"]:checked {
  background: url('images/check.svg') no-repeat center / 75% auto;
}

button {
  font: 1.25em sans-serif;
  border-radius: 0.25em;
  cursor: pointer;
  padding: 0.75em 1.25em;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 4px black;
}

button[type="submit"] {
  background-color: hsl(213, 73%, 50%);
  color: white;
}

button[type="submit"]:hover {
  background-color: hsl(213, 73%, 40%);
}

button[type="reset"] {
  text-decoration: underline;
  /* margin-left: 1em; */
}

button[type="reset"]:hover {
  text-decoration: none;
}
