

body {
  margin: 0;
  /* margin: auto; */
  /* max-width: 900px; */
  background-color: hsl(0, 0%, 98%);
  color: #333;
  font: 100% / normal sans-serif;
}

main {
  margin: 0 auto;
  padding: 4rem 0;
  width: 90%;
  max-width: 60rem;
}

.form-container {
  display: flex;
  flex-flow: column;
  /* justify-content: start; */
}

#container_1, 
#container_2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
}

.bet {
  display: flex;
  flex-flow: column;
  /* justify-content: space-evenly; */
  /* align-content: space-around; */
  /* column-gap: 20px; */
  /* gap: 20px; */
  gap: 1rem;

  width: 18rem;
  height: 18rem;
  margin: 0.5rem auto;

  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 1rem;
  
  border: 2px solid hsl(0, 0%, 90%);
}

#combined_bet {
  border: 2px solid hsl(120, 100%, 80%);
  width: 22rem;
  height: 24rem;
  /* flex: 0 1 auto; */
}

.bet, 
.bet-line, 
div
{
  /* border: 1px solid red; */
}

.bet-line {
  /* margin: 0.5rem; */
  /* display: grid; */
  display: flex;
  align-items: strech;
  /* justify-content: space-evenly; */
  /* align-content: space-around; */
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-columns: 2fr 1fr 1fr; */
  gap: 0.5rem;
}

.bet-line > * {
  flex: 1 1 0;
}


.hesap-cesiti {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
}

form {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  /* background-color: hsl(0, 0%, 100%); */
  border: 4px solid hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-columns: 1fr 1fr; */
  /* gap: 2rem; */
}

.input, 
.output {
  /* margin: 0.5rem; */
  /* display: grid; */
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* align-content: space-around; */
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-columns: 2fr 1fr 1fr; */
  /* gap: 0.5rem; */

}

/* .input > *, 
.output > * {
  flex: 1 1 0;
} */



.sonuc{
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  /* background-color: hsl(0, 0%, 100%); */
  border: 4px solid hsl(0, 0%, 90%);
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

#yatan-para-1,
#yatan-para-0 {
  padding-left: 1rem;
  background-color: hsl(0, 100%, 80%);
  width: 9rem;
}

#olasi-kazanc {
  padding-left: 1rem;
  background-color: hsl(131, 100%, 80%);
  width: 9rem;
}

.text-center {
  text-align: center;
}

.text-right{
  text-align: right;
}

.full-width {
  grid-column: span 2;
}

.jumbo-text {
  font: bold 2rem sans-serif;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.jumbo-text-2 {
  font: bold 1.75rem sans-serif;
  text-decoration: underline;
  margin-bottom: 0.5rem;  
}

.large-label {
  /* border: 1px solid brown; */
  vertical-align: middle;
  display: inline-block;
  font: bold 1.5rem sans-serif;
  margin-bottom: 0.5rem;
}

.small-label {
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.25rem;
  margin-right: 1.5rem;
  font: 1.25rem sans-serif;
}

/* .jumbo-text, 
.jumbo-text, 
.large-label, 
.small-label {
} */

button,
fieldset,
input,
legend,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input, 
select, 
textarea {
  border: 2px solid #333;
  background-color: white;
  border-radius: 0.25rem;
}

input:focus, 
select:focus, 
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 4px hsl(213, 90%, 70%);
}

input[type="text"], 
input[type="email"], 
input[type="number"], 
select, 
textarea {
  font: 1.25rem / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.75rem;
}

textarea {
  min-height: 10rem;
}

input::placeholder, 
textarea::placeholder {
  opacity: 1; /* Firefox */
  color: hsl(213, 73%, 50%);
}

select {
  background: url("images/down-arrow.svg") no-repeat center right 0.75rem;
}

input[type="radio"], 
input[type="checkbox"] {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-image: radial-gradient(
    hsl(213, 73%, 50%) 40%, 
    transparent calc(40% + 1px)
  );
}

input[type="checkbox"]:checked {
  background: url('images/check.svg') no-repeat center / 75% auto;
}

button {
  font: 1.25rem sans-serif;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.75rem 1.25rem;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 4px black;
}

button[type="submit"] {
  background-color: hsl(213, 73%, 50%);
  color: white;
}

button[type="submit"]:hover {
  background-color: hsl(213, 73%, 40%);
}

button[type="reset"] {
  text-decoration: underline;
  /* margin-left: 1rem; */
}

button[type="reset"]:hover {
  text-decoration: none;
}
